@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: "Noto Sans TC", sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

html,
body {
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  width: 100%;
}

/* common global styles */
p {
  font-size: 20px;
  letter-spacing: 2px;
}

p.intro_in_block {
  margin-bottom: 5px;
  text-indent: 2em;
  text-align: left;
  line-height: 1.8;
}

video.page_hero_video,
img.page_hero_img {
  margin-top: 80px;
  width: 100%;
}

@media screen and (max-width: 769px) {
  p {
    font-size: 1rem;
  }
  video.page_hero_video,
  img.page_hero_img {
    margin-top: 65px;
  }
}

@media screen and (max-width: 576px) {
  p {
    font-size: 0.9rem;
  }
}
