@import "./colors.scss";

#page_content {
  .area_page_links {
    z-index: 5;
    position: fixed;
    top: 500px;
    right: 5px;
    // transform: translateX(105%);
    gap: 10px;
    a {
      background-color: $white-bgc;
      @include boxShadow(0, 2px, 6px, 0.4)
    }
  }

  .bdt_deco_line {
    border-top: 2px solid $primary;
  }

  img.area_apply_img {
    border-radius: 5px;
  }

  .page_title.area {
    margin-top: 20px;
    line-height: 1.5;
    text-decoration: underline;
  }

  .resource_cover {
    width: 80%;
    margin: 0 auto;
  }

  .area_links_row {
    margin-top: 40px;
  }
}

@media screen and (max-width: 769px) {
  #page_content {
    .area_page_links {
      top: 200px;
      gap: 2px;
      a {
        transform: scale(0.8);
      }
    }
   }
}

@media screen and (max-width: 420px) {
  #page_content {
    .area_page_links {
      top: 150px;
      gap: 1px;
      a {
        padding: 3px 15px;
      }
    }
   }
}

