@import "./colors.scss";

.company_headinfo {
  padding-left: 10px;
  margin-left: 10px;
  border-left: 1.5px solid $secondary;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 1px;
  &.in_menu {
    padding-left: unset;
    margin-left: unset;
    border-left: none;
    background-color: $bg-secondary-subtle;
    font-weight: normal;
    border-top: 1px solid $secondary;
  }
}
#nav_block {
  &.top_1 {
    background-color: $white;
    @include boxShadow;
    z-index: 99;
  }
  .navbar-brand {
    margin-left: 10px;
    color: $secondary;
    transition: 0.3s;
    &:hover {
      opacity: 0.8;
    }
    > img {
      width: 60px;
      transition: 0.3s;
    }
    .brand {
      position: relative;
      left: 15px;
      .rainline {
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 1.6rem;
        margin-bottom: 0;
      }
      .company_name {
        height: 20px;
        gap: 5px;
        margin-top: 12px;
        img {
          height: 100%;
        }
      }
    }
  }
  .company_logo_outline {
    height: 35px;
  }
}
#rainline_navlinks {
  ul.nav {
    margin-top: 70px;
    font-weight: 700;
    letter-spacing: 2px;
  }
  .nav-item {
    cursor: pointer;
  }
  .nav-link {
    margin: 0 5px;
    padding-top: 18px;
    border-radius: 0 0 8px 8px;
    color: $secondary;
    background-color: $bg-secondary-subtle;
    @include boxShadow(0, 2px, 8px, 0.3);
    transition: 0.3s;
  }
  .nav-link:hover {
    color: $primary;
    transform: translateY(5px);
  }
}
#all_products_menu,
#apply_areas_menu {
  // position: relative;
  width: 100%;
  position: absolute;
  top: 0;
  margin-top: 70px;
  font-size: 0.9rem;
  @include boxShadow;
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s linear, opacity 0s linear;

  .close_btn {
    display: none;
    position: absolute;
    top: 0;
    right: 5px;
    color: $primary;
    font-size: 1.8rem;
    font-weight: 700;
    border: none;
  }
  .menu_wrapper {
    width: 90%;
    margin: 0 auto;
    .row {
      .col-12 {
        padding: 0 30px;
        &.r_line_deco {
          border-right: 1.5px solid $primary;
        }
      }
    }
  }
  .products_menu_title,
  .areas_menu_title {
    margin-bottom: 10px;
    text-align: center;
    color: $primary;
    font-weight: 700;
  }
  .products_menu_cocntent {
    margin-top: 15px;
    gap: 10px;
    div {
      flex: 1 1 80px;
    }
  }
  a.rl_item_link,
  a.area_item_link {
    display: inline-block;
    width: 100%;
    min-width: fit-content;
    padding: 1px 5px;
    color: $primary;
    text-decoration: none;
    text-align: center;
    font-weight: 500;
    border-radius: 20px;
    border: 1.5px solid $primary;
    white-space: nowrap;
    transition: 0.3s;
    &:hover {
      color: $white;
      background-color: $primary;
    }
  }
  a.area_item_link {
    padding: 5px;
    + div {
      gap: 10px;
      justify-content: center;
    }
  }

  .rl_intro {
    text-indent: 2em;
    line-height: 2;
  }
  .rl_list,
  .area_list {
    width: fit-content;
    list-style: none;
    padding-left: 0;
    margin-top: 5px;
    font-size: 0.8rem;
    letter-spacing: 1px;
    .rl_item,
    .area_item {
      padding: 2px 0;
    }
  }
  .area_list {
    font-size: 0.9em;
  }
}
#all_products_menu,
#apply_areas_menu {
  position: fixed;
  background-color: $white;
  z-index: 2;
  &.toggle {
    height: unset;
    opacity: 1;
    padding-top: 80px;
    padding-bottom: 25px;
  }
}

// #apply_areas_menu {
//   &.toggle {
//     height: unset;
//     margin-top: 0;
//     padding-top: 80px;
//   }
// }

#footer_block {
  position: relative;
  margin-top: 100px;
  background-color: $primary;
  .social_media_links {
    justify-content: center;
    gap: 30px;
    position: absolute;
    width: 100%;
    top: -50px;
    .link_box {
      height: 40px;
      padding: 4px;
      box-sizing: border-box;
      border-radius: 5px;
      &.line {
        background-color: $line-green;
      }
      &.yt {
        background-color: $yt-red;
      }
      &.fb {
        background-color: $fb-blue;
      }
      img {
        height: 95%;
      }
    }
  }
  .company_footinfo {
    position: relative;
    padding: 20px 0;
    > div {
      text-align: center;
      letter-spacing: 0.2rem;
    }
    .company_logo {
      height: 25%;
      min-height: 15px;
      margin-bottom: 10px;
    }

    .intro_in_block_small {
      margin-bottom: 2px;
      color: $white;
      font-size: 0.8rem;
    }
  }
  .companydeco_box {
    padding: 0.8rem 0;
    margin: 0 50px;
    background-color: $white;
    border-radius: 5rem;
    .logo_box {
      gap: 20px;
      position: relative;
      width: fit-content;
      margin: 0 auto;
      padding: 5px 0;
      border-top: 1px solid $primary;
      border-bottom: 1px solid $primary;
      .lab_logo_box {
        margin: 0 10px;
        height: 6vw;
        max-height: 50px;
        min-height: 30px;
        .lab_logo {
          height: 100%;
        }
      }
      .lab_logo_box.zt {
        top: 3px;
      }
    }
  }
}

// small common elements
.btn_primary_outlined {
  color: $primary;
  border: 1px solid $primary;
  &:hover {
    background-color: $primary;
    color: $white;
  }
}

@media screen and (max-width: 769px) {
  #nav_block {
    .navbar-brand {
      > img {
        width: 40px;
      }
      .brand {
        .rainline {
          font-size: 1.2rem;
          line-height: 1.2rem;
        }
        .company_name {
          height: 15px;
          margin-top: 5px;
        }
      }
    }
  }
  #rainline_navlinks {
    ul.nav {
      display: block;
      margin-top: 55px;
      :first-child {
        .nav-link {
          padding-top: 10px;
        }
      }
    }

    .nav-link {
      margin: 0;
      padding-top: 5px;
      padding-bottom: 5px;
      border-radius: 0;
    }
    .nav-link:hover {
      transform: none;
    }
  }

  #all_products_menu,
  #apply_areas_menu {
    background-color: $white;
    // padding-top: 40px;
    z-index: 10;
    &.toggle {
      padding-top: 40px;
    }
    .close_btn {
      display: block;
    }
    .menu_wrapper {
      .row {
        .col-12 {
          &.r_line_deco {
            border: none;
          }
        }
      }

      .rl_intro {
        font-size: 0.8rem;
      }
    }
  }
  #footer_block {
    .company_footinfo {
      .company_logo {
        height: 15%;
      }
    }

    .companydeco_box {
      margin: 0 20px;
      .logo_box {
        gap: 3px;
      }
    }
  }
}
