@import "./colors.scss";

#page_content {
  img.r100_img,
  img.r150_img  {
    width: 100%;
  }
  .area_link.title {
    letter-spacing: 2px;
    padding: 5px 30px;
    margin-left: 10px;
  }
  ul.series_list {
    text-align: left;
    letter-spacing: 2px;
    li {
      margin: 5px 0;
    }
  }
}

@media screen and (max-width: 769px) {

}