@import "./colors.scss";

#page_content {
  .page_title.use {
    margin-top: 30px;
    line-height: 1.5;
  }
  img.use_img {
    width: 100%;
    border-radius: 5px;
  }
  .bdb_deco_line {
    border-bottom: 2px solid $primary;
  }
}

@media screen and (max-width: 769px) {
  #page_content {
    .page_title.use {
      margin-top: 0px;
    }
  }
}
